{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% if title %}
        <title>Django test- {{ title }}</title>
    {% else %}
        <title>Django rentals</title>
    {% endif %}
</head>

<body>
    <header class="site-header">
      <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
          <div class="container">
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">

                <li class="nav-item ">
                  <a class="nav-link" href="/">Home</a>
                </li>
              
                {% if user.is_authenticated %}
                    {% if user.userprofile.get_landlord %}
                        {% include 'users/landlordNav.html' %}
                    {% else %}
                        {% include 'users/userNav.html' %}
                    {% endif %}


                {% else %}
                    {% include 'users/login_signup_nav.html' %}
                {% endif %}

                <li class="nav-item">
                  <a class="nav-link" href="/admin" target="_blank">Admin</a>
                </li>


{#                {% block navContent %}#}
{#                    {% include 'users/login_signup_nav.html' %}#}
{#                {% endblock %}#}

              </ul>
            </div>
          </div>
        </nav>
<!-- /.container -->
    </header>
</body>

{% if messages %}
    {% for m in messages %}
        <div class="alert alert-{{ m.tags }}">
        {{ m }}
        </div>
    {% endfor %}
{% endif %}

{%block bodyContent %}{% endblock %}

</html>