{% extends 'rentals/base.html' %}

{% block bodyContent %}


    {% for p in listings %}
     <body>
            <div class="container">

              <div class="row">
                <div class="col-md-7">
                  <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="{{ p.thumbnail.url }}" alt="">
                  </a>
                </div>

                <div class="col-md-5">
                  <h3>{{ p.address }}</h3>
                  <p> {{ p.property_description }} </p>
                  <p>$ {{ p.price_per_day }}.00 per day</p>
                  <a class="btn btn-primary" href="{% url 'edit-listing' p.pk %}">Edit</a>
                </div>
              </div>
              <!-- /.row -->
              <hr>
            </div>
        </body>
    {% endfor %}



{% endblock %}





