{% extends 'rentals/base.html' %}
{% block bodyContent %}
    <h1></h1>

<body>
    <div class="container">

      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{ property.thumbnail }}">
          </a>
        </div>
        <div class="col-md-5">
          <h2>{{ property.address }}</h2>
          <p> {{ property.property_description }} </p>
          <p>{{ property.price_per_day }}</p>
          <a class="btn btn-primary" href="{%  url 'res-create' property.id %}">Reserve</a>
        </div>
      </div>
      <!-- /.row -->
      <hr>
    </div>
</body>

{% endblock  %}
